[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
aiohttp = "*"
aiosqlite = "*"
asyncpg = "*"
cryptography = "*"
emoji = "*"
flake8 = "*"
lru-dict = "*"
lxml = "*"
mock = "*"
num2words = "*"
psutil = "*"
polyleven = "*"
pyjwt = "*"
pytest = "*"
pytest-asyncio = "*"
python-vlc = "*"
pytz = "*"
requests = "*"
roman = "*"
twitchio = "*"
typing_extensions = "*"
websockets = "*"
xmltodict = "*"

[dev-packages]


[requires]
python_version = "3.11"
