[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "24.1.0"
aiohttp = "3.9.5"
aiosqlite = "0.20.0"
asyncpg = "0.29.0"
cryptography = "43.0.0"
emoji = "2.12.1"
flake8 = "7.1.1"
frozendict = "2.4.4"
frozenlist = "1.4.1"
lru-dict = "1.3.0"
lxml = "5.3.0"
mock = "5.1.0"
num2words = "0.5.13"
polyleven = "0.8"
psutil = "6.0.0"
pyjwt = "2.9.0"
pytest = "8.3.2"
pytest-asyncio = "0.23.8"
python-vlc = "3.0.20123"
pytz = "2024.1"
requests = "2.32.3"
rich = "13.7.1"
roman = "4.2"
twitchio = "2.10.0"
typing_extensions = "4.12.2"
websockets = "13.0"
xmltodict = "0.13.0"

[dev-packages]


[requires]
python_version = "3.12"
