[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "24.1.0"
aiohttp = "3.9.5"
aiosqlite = "0.20.0"
asyncpg = "0.30.0"
cffi = "1.17.1"
charset-normalizer = "3.4.0"
cryptography = "43.0.3"
emoji = "2.14.0"
flake8 = "7.1.1"
frozendict = "2.4.6"
frozenlist = "1.5.0"
idna = "3.10"
lru-dict = "1.3.0"
lxml = "5.3.0"
mock = "5.1.0"
multidict = '6.1.0'
num2words = "0.5.13"
polyleven = "0.8"
psutil = "6.1.0"
pyjwt = "2.9.0"
pytest = "8.3.3"
pytest-asyncio = "0.24.0"
python-vlc = { version = "3.0.21203", markers = "sys_platform == 'win32'" }
pytz = "2024.2"
pywin32 = { version = "308", markers = "sys_platform == 'win32'" }
requests = "2.32.3"
rich = "13.9.4"
roman = "4.2"
twitchio = "2.10.0"
typing_extensions = "4.12.2"
urllib3 = '2.2.3'
websockets = "14.1"
xmltodict = "0.14.2"
yarl = "1.17.1"

[dev-packages]


[requires]
python_version = "3.12"
