aiofiles==24.1.0
aiohttp==3.12.15
aiosqlite==0.21.0
asyncpg==0.30.0
charset-normalizer==3.4.3
cryptography==45.0.6
emoji==2.14.1
frozendict==2.4.6
frozenlist==1.7.0
lru-dict==1.3.0
lxml==6.0.1
num2words==0.5.14
polyleven==0.9
pyjwt==2.10.1
pytest==8.4.1
pytest-asyncio==1.1.0
pytz==2025.2
requests==2.32.5
roman==5.1
twitchio==2.10.0
typing_extensions==4.15.0
websockets==15.0.1
xmltodict==0.14.2
